@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,100;1,300;1,500&display=swap');
  
*{
  font-family: "poppins";

}

.shop{
  background-color: #1c1f2b;
}
.title {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-family: "poppins";
    color: red;
  }
  .products {
    width: 100%;
    height: auto;
    // padding: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }